@import url("https://fonts.googleapis.com/css?family=Outfit:400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    display: grid;
    place-items: center;
}
.row {
    display: flex;
}
.col {
    height: 650px;
    width: 400px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.orange {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.cyan {
    background-color: hsl(184, 100%, 22%);
}
.dark {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
img {
    width: 80px;
}
h2 {
    font-family: "Big Shoulders Display", cursive;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem 0rem;
}
.btn {
    background-color: hsl(0, 0%, 95%);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}
.btn-orange {
    color: hsla(31, 77%, 52%, 0.7);
}
.btn-cyan {
    color: hsla(184, 100%, 22%, 0.7);
}
.btn-dark {
    color: hsla(179, 100%, 13%, 0.7);
}

.attribution {
    color: #000;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .orange {
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 10px 0 0;
    }
    .cyan {
        background-color: hsl(184, 100%, 22%);
    }
    .dark {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 10px 10px;
    }
}
